In [6]:
import pandas as pd
data = pd.read_csv("Data/yelp_academic_dataset_review.csv")

In [7]:
 list(data)

['user_id',
 'review_id',
 'text',
 'votes.cool',
 'business_id',
 'votes.funny',
 'stars',
 'date',
 'type',
 'votes.useful']

In [8]:
data[1:1000][[2,3,5,9,6]]

,text,votes.cool,votes.funny,votes.useful,stars
1,Excellent food. Superb customer service. I mis...,0,0,0,5
2,Yes this place is a little out dated and not o...,0,1,1,5
3,PROS: Italian hoagie was delicious. Friendly ...,0,0,0,3
4,First the only reason this place could possibl...,0,0,1,2
5,"Normally, I do not do reviews of an establishm...",0,0,0,1
6,I like this place a lot. It's a good toasted h...,0,0,0,4
7,All the food is great here. But the best thing...,0,0,0,5
8,We checked this place out this past Monday for...,0,0,0,3
9,Wing sauce is like water. Pretty much a lot of...,0,0,0,1
10,Cold cheap beer. Good bar food. Good service. ...,0,0,0,4
11,Possibly the most overhyped establishment in A...,0,0,0,2
12,Decent range somewhat close to the city. The ...,0,0,1,3
13,Owning a driving range inside the city limits ...,0,0,1,1
14,This place is absolute garbage... Half of the...,0,0,0,1
15,Before I finally made it over to this range I ...,0,0,0,4
16,I drove by yesterday to get a sneak peak. It ...,0,0,0,4
17,This place was DELICIOUS!! My parents saw a r...,0,0,5,5
18,Can't miss stop for the best Fish Sandwich in ...,0,0,0,5
19,This place should have a lot more reviews - bu...,1,0,3,5
20,This place was very good. I found out about Em...,0,0,1,4
21,"Old school.....traditional ""mom 'n pop"" qualit...",0,0,0,5
22,Seen this restaurant on 25 best places in Pitt...,1,0,2,5
23,Wonderful reuben. Map shown on Yelp page is i...,0,0,0,4
24,Good fish sandwich.,0,0,0,5
25,"After a morning of Thrift Store hunting, a fri...",2,0,3,5
26,"This is a hidden gem, no really. It took us fo...",0,0,0,4
27,"From reading the other reviews, I see this pla...",4,1,1,5
28,Another divey place we have been going to for ...,0,0,0,4
29,Love my hometown favorites. Cannot beat their ...,0,0,0,4
30,Emil's is a great place to eat! The prices are...,0,0,0,5
...,...,...,...,...,...
970,I've had a pretty wide variety of experiences ...,1,0,0,3
971,I love Bar Louie's happy hour. $5 martini and ...,0,0,0,4
972,Worst bar I have ever been to. They used maybe...,0,0,1,1
973,I went with some work friends before catching ...,0,0,0,1
974,The worst bar and the worst service in the are...,0,0,1,1
975,My boyfriend and I came for $1 burger night an...,0,0,0,3
976,The place where my fiancé and I first met. Wen...,0,0,0,5
977,Sat at the bar at about 240 Saturday for appet...,0,0,0,1
978,I enjoyed this place. I have avoided this loca...,0,0,2,4
979,I made a reservation for 6 on a Saturday night...,0,0,0,1
980,Our adventure to the water front landed us her...,9,2,5,3
981,The food was ok. We ordered the pot pie soup b...,0,0,0,2
982,Valentine's Day! Terrible service. Waitress wa...,0,0,0,1
983,I go here often because I work down in the wat...,0,0,0,2
984,Surprisingly good fried chicken sandwich (with...,0,0,0,3
985,A nice little quiet restaurant to come in for ...,0,0,0,4
986,This is a Bar Louie and it's in one of the mos...,1,0,2,3
987,One dolla holla! Such excitement yet such epic...,0,0,0,3
988,I've been to Bar Louie several times and I don...,3,0,1,3
989,Bar Louie is my go to place in the Waterfront....,18,5,17,5
990,What a delightful experience for this chain es...,0,0,0,4
991,Literally the only place to stop in waterfront...,0,0,0,5
992,Food was good. Waitress was Kayla and she was ...,0,0,0,4
993,"Insanely sticky floors, frozen food that's reh...",0,0,0,1
994,I'm not into waterparks as much as I am into a...,1,0,1,4
995,The evites are in the mail for the 2 for $99 s...,1,2,2,2
996,"It's fun, but not as fun as Kennywood. The boa...",0,0,0,2
997,"How many times do you get to fall at 70mph, we...",1,0,1,4
998,Sandcastle is a mixed bag for the kiddos. On ...,0,0,1,3
999,So the last time I went to a water park was pr...,0,0,1,4

In [10]:
business_data = pd.read_csv("Data/yelp_academic_dataset_business.csv")

C:\Users\sanja\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,4,7,17,26,29,49,60,62,79,86,94) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
list(business_data)

['attributes.Ambience.divey',
 'attributes.Dietary Restrictions.vegan',
 'attributes.Happy Hour',
 'hours.Thursday.open',
 'attributes.Order at Counter',
 'attributes.Hair Types Specialized In.africanamerican',
 'attributes.Hair Types Specialized In.kids',
 'attributes.BYOB',
 'hours.Friday.open',
 'attributes.Good For.latenight',
 'attributes.Outdoor Seating',
 'attributes.Alcohol',
 'attributes.Ambience.classy',
 'attributes.By Appointment Only',
 'attributes.Parking.lot',
 'business_id',
 'attributes.Ambience.touristy',
 'attributes.Corkage',
 'hours.Tuesday.open',
 'attributes.Good For.brunch',
 'categories',
 'attributes.Waiter Service',
 'hours.Monday.open',
 'name',
 'attributes.Parking.street',
 'attributes.Ambience.hipster',
 'attributes.BYOB/Corkage',
 'attributes.Hair Types Specialized In.straightperms',
 'attributes.Music.live',
 'attributes.Dietary Restrictions.dairy-free',
 'attributes.Music.background_music',
 'attributes.Price Range',
 'attributes.Good For.breakfast',
 'attributes.Parking.garage',
 'attributes.Music.karaoke',
 'attributes.Good For Dancing',
 'review_count',
 'attributes.Hair Types Specialized In.asian',
 'state',
 'attributes.Accepts Credit Cards',
 'hours.Friday.close',
 'attributes.Good For.lunch',
 'attributes.Parking.valet',
 'attributes.Take-out',
 'full_address',
 'hours.Thursday.close',
 'attributes.Hair Types Specialized In.coloring',
 'attributes.Good For.dessert',
 'attributes.Music.video',
 'attributes.Dietary Restrictions.halal',
 'attributes.Takes Reservations',
 'hours.Saturday.open',
 'attributes.Ages Allowed',
 'attributes.Ambience.trendy',
 'attributes.Delivery',
 'hours.Wednesday.close',
 'attributes.Wi-Fi',
 'open',
 'city',
 'attributes.Wheelchair Accessible',
 'attributes.Dietary Restrictions.gluten-free',
 'stars',
 'attributes.Dietary Restrictions.kosher',
 'type',
 'attributes.Caters',
 'attributes.Ambience.intimate',
 'latitude',
 'attributes.Good For.dinner',
 'attributes.Coat Check',
 'longitude',
 'hours.Monday.close',
 'attributes.Hair Types Specialized In.extensions',
 'hours.Tuesday.close',
 'hours.Saturday.close',
 'attributes.Good for Kids',
 'attributes.Parking.validated',
 'hours.Sunday.open',
 'attributes.Accepts Insurance',
 'attributes.Music.dj',
 'attributes.Dietary Restrictions.soy-free',
 'attributes.Has TV',
 'hours.Sunday.close',
 'attributes.Ambience.casual',
 'attributes.Hair Types Specialized In.perms',
 'attributes.Dogs Allowed',
 'attributes.Drive-Thru',
 'attributes.Dietary Restrictions.vegetarian',
 'hours.Wednesday.open',
 'attributes.Noise Level',
 'attributes.Smoking',
 'attributes.Attire',
 'attributes.Hair Types Specialized In.curly',
 'attributes.Good For Groups',
 'neighborhoods',
 'attributes.Open 24 Hours',
 'attributes.Ambience.romantic',
 'attributes.Music.jukebox',
 'attributes.Ambience.upscale']

In [12]:
business_id = business_data[:][['business_id','categories']]

In [13]:
data = pd.merge(data, business_id, on='business_id')

In [14]:
list(data)

['user_id',
 'review_id',
 'text',
 'votes.cool',
 'business_id',
 'votes.funny',
 'stars',
 'date',
 'type',
 'votes.useful',
 'categories']

In [15]:
rest_exist=[]
for i in data[:]['categories']:
    if "Restaurants" in i:
        rest_exist.append(True)
    else:
        rest_exist.append(False)

In [16]:
list(data)

['user_id',
 'review_id',
 'text',
 'votes.cool',
 'business_id',
 'votes.funny',
 'stars',
 'date',
 'type',
 'votes.useful',
 'categories']

In [17]:
data['rest_exist']=rest_exist

In [18]:
list(data)

['user_id',
 'review_id',
 'text',
 'votes.cool',
 'business_id',
 'votes.funny',
 'stars',
 'date',
 'type',
 'votes.useful',
 'categories',
 'rest_exist']

In [19]:
data= data[:][[2,3,5,6,9,11]]

In [20]:
data=data[data['rest_exist']][:]

In [21]:
data=data.drop('rest_exist',1)

In [22]:
pd.set_option('display.max_colwidth',-1)

In [30]:
data[0:1]['text']

0    Mr Hoagie is an institution. Walking in, it does seem like a throwback to 30 years ago, old fashioned menu board, booths out of the 70s, and a large selection of food. Their speciality is the Italian Hoagie, and it is voted the best in the area year after year. I usually order the burger, while the patties are obviously cooked from frozen, all of the other ingredients are very fresh. Overall, its a good alternative to Subway, which is down the road.
Name: text, dtype: object

In [27]:
data.describe()

         votes.cool   votes.funny         stars  votes.useful
count  1.613090e+06  1.613090e+06  1.613090e+06  1.613090e+06
mean   5.274926e-01  4.073096e-01  3.745380e+00  9.341804e-01
std    1.728012e+00  1.479816e+00  1.322974e+00  2.142199e+00
min    0.000000e+00  0.000000e+00  1.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00  3.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  4.000000e+00  0.000000e+00
75%    1.000000e+00  0.000000e+00  5.000000e+00  1.000000e+00
max    1.530000e+02  1.510000e+02  5.000000e+00  1.680000e+02

In [25]:
len(data)

1613090

In [53]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

 Text Preprocessing
 1. Remove stop words and number and punctuations

In [82]:
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
import string
#remove stop words and punctuations.
data_sample = (str((data[0:10]['text'])).lower()).split('\n')
#print data_sample
#print (data_sample)

In [67]:
stop = stopwords.words('english') + list(string.punctuation) + ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
preprocessed_data_sample = [[i for i in word_tokenize(sentence) if i not in stop] for sentence in data_sample]

C:\Users\sanja\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  from ipykernel import kernelapp as app

In [69]:
print preprocessed_data_sample[0]
print "hello"
print preprocessed_data_sample[1]

['mr', 'hoagie', 'institution', 'walking', 'seem', 'like', 'throwback', '30', 'years', 'ago', 'old', 'fashioned', 'menu', 'board', 'booths', '70s', 'large', 'selection', 'food', 'speciality', 'italian', 'hoagie', 'voted', 'best', 'area', 'year', 'year', 'usually', 'order', 'burger', 'patties', 'obviously', 'cooked', 'frozen', 'ingredients', 'fresh', 'overall', 'good', 'alternative', 'subway', 'road']
hello
['excellent', 'food', 'superb', 'customer', 'service', 'miss', 'mario', 'machines', 'used', "'s", 'still', 'great', 'place', 'steeped', 'tradition']

 2. Stemming

In [80]:
from nltk.stem.porter import *
import sys
#Create a new Porter stemmer.
stemmer = PorterStemmer()
try:
    for i in range(len(preprocessed_data_sample)):
        preprocessed_data_sample_trial = [stemmer.stem(str(word)) for word in preprocessed_data_sample[i]]
except:
        print i
        #preprocessed_data_sample = [[stemmer.stem(str(word.decode('utf-8'))) for word in sentence] for sentence in preprocessed_data_sample]

5

In [81]:
preprocessed_data_sample[5]

['normally',
 'reviews',
 'establishment',
 'unless',
 'rating',
 'exceptionally',
 'great',
 'exceptionally',
 'bad',
 'felt',
 'sucker',
 'punched',
 'mugged',
 'left',
 'mr.',
 'hoagie',
 'would',
 'writing',
 'bad',
 'review',
 'first',
 'last',
 'trip',
 'paid',
 '24.59',
 'two',
 'whole',
 'hoagies',
 '\\n\\n1',
 'italian',
 'ordered',
 'woman',
 'working',
 'told',
 'popular',
 'hoagie',
 'ordered',
 'lettuce',
 'onions',
 'tomato',
 'italian',
 'dressing',
 'come',
 'free',
 'hoagie',
 'pay',
 'add',
 'cheese',
 'hoagie',
 'traveling',
 'would',
 'eating',
 'hoagie',
 'right',
 'away',
 'asked',
 'italian',
 'side',
 'told',
 'charge',
 'dressing',
 'side',
 'passed',
 'principle',
 'kidding',
 'saved',
 'money',
 'declining',
 'tomato',
 'going',
 'pay',
 'dressing',
 'side',
 'point',
 'certain',
 'something',
 'right',
 'place',
 'appears',
 'financial',
 'trouble',
 'pales',
 'comparison',
 'happened',
 'next',
 'opened',
 'hoagie',
 'three',
 'microscopically',
 'thin',
 'slices',
 'meat',
 'hoagie',
 'ham',
 'salami',
 'bologna',
 'bologna',
 'hell',
 'puts',
 'disgusting',
 'bologna',
 'italian',
 'hoagie',
 'disqualifies',
 'hoagie',
 'italian',
 'red',
 'flags',
 'indicating',
 'place',
 'financial',
 'trouble',
 'blinding',
 'view',
 'one',
 'area',
 'hoagie',
 'one',
 'slice',
 'bologna',
 'ham',
 'salami.\\n\\n2',
 'steak',
 'hoagie',
 'came',
 'nothing',
 'lettuce',
 'tomato',
 'onions',
 'dressing',
 'ordered',
 'without',
 'lettuce',
 'tomato',
 'onions',
 'dressing',
 'asked',
 'mayo',
 'side',
 'pay',
 'declined',
 'kidding',
 'saved',
 'money',
 'passing',
 'lettuce',
 'tomato',
 'fresh',
 'onions',
 'dressing',
 'paid',
 'add',
 'saut\xc3\xa9ed',
 'mushrooms',
 'onions',
 'cheese',
 'go',
 'canned',
 'mushrooms',
 'even',
 'cooked',
 'still',
 'cold',
 'onions',
 'still',
 'crunchy/undercooked',
 'news',
 'flash',
 'need',
 'serve',
 'fresh',
 'mushrooms',
 'saut\xc3\xa9ed',
 'canned',
 'mushrooms',
 'another',
 'sign',
 'place',
 'financial',
 'trouble',
 'literally',
 'open',
 'hoagie',
 'find',
 'steak',
 'could',
 'taste',
 'see',
 'hoagie',
 '50',
 'mushrooms',
 '30',
 'onions',
 '10',
 'cheese',
 '10',
 'steak.\\n\\ni',
 'could',
 'personally',
 'made',
 '10',
 'whole',
 'hoagies',
 'substantial',
 'quality',
 'ingredients',
 'toppings',
 '24.59',
 'paid',
 'two',
 'whole',
 'hoagies',
 'intentionally',
 'patronize',
 'non-chain',
 'restaurants',
 'support',
 'small',
 'businesses',
 'case',
 'never',
 'hoagie',
 'bun',
 'better',
 'average',
 'wake',
 'going',
 'lose',
 'business']